@import "./variables.scss";
@import "./components/header-wrapper.scss";
@import "./components/features-wrapper.scss";
@import "./components/pictures-wrapper.scss";
@import "./components/guides-wrapper.scss";
@import "./components/reviews-wrapper.scss";
@import "./components/stories-wrapper.scss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

