$fontSizeXXL: 64px;
$fontSizeXL: 36px;
$fontSizeL: 22px;
$fontSizeM: 20px;
$fontSizeS: 18px;
$fontSizeXS: 16px;

$white: #FFFFFF;
$lightWhite: #F9F9FB;
$orange: #FB8F1D;
$lightGray: #B8BECD;
$gray: #7D7987;
$darkGray: #4A4C53;
$lightBlack: #202336;
$black: #000000;

$fontInter: "Inter", sans-serif;
$fontMulish: "Mulish", sans-serif;
$fontPlayfair: "Playfair Display", sans-serif;
